<div class="row">
  <div class="col-md-6">
    <h3>Thursday 15 October 2020, 2:30pm</h3>
    <table class="table table-striped">
      <tr> <td>Before starting</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a> </td> </tr>
      <tr> <td>2:00pm (optional)</td> <td>Pre-workshop installfest: The instructors will be online for 30 minutes before the scheduled start of the workshop 
        to address any issues you may encounter while installing the required software. Attendance is not required, just drop in if you have questions or issues.</td> </tr>
      <tr> <td>2:30pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/01-introduction/index.html">Introduction</a></td> </tr>
      <tr> <td>2:40pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/02-working-with-openrefine/index.html">Working with OpenRefine</a></td> </tr>
      <tr> <td>2:55pm</td>  <td> Q&A and/or exercises </td> </tr>
      <tr> <td>3:10pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/03-filter-sort/index.html">Filtering and Sorting</a></td> </tr>
      <tr> <td>3:20pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/04-numbers/index.html">Examining Numeric Data</a></td> </tr>
      <tr> <td>3:30pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/05-scripts/index.html">Generating Scripts</a></td> </tr> 
      <tr> <td>3:40pm</td>  <td> Q&A and/or exercises </td> </tr>
      <tr> <td>4:00pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/06-saving/index.html">Exporting Data</a></td> </tr> 
      <tr> <td>4:10pm</td>  <td><a href="https://datacarpentry.org/openrefine-socialsci/07-resources/index.html">Other Resources</a></td> </tr>
      <tr> <td>4:15pm</td>  <td> Q&A and/or exercises </td> </tr>
    </table>
  </div>
</div>
